body{
    margin: 0px;
 }

.navbar{
    height: 120px;
    width: 100%;
    display: flex;
}

.left{
    width: 20%;
    height: 40%;
    background-color:white;
    display: flex;
    justify-content: left;
    align-content: center;
}

.img{
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: left;
    align-content: center;
}

.text{
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;

}



.text:hover{
    background-color: gray;
   border-radius: 10%;
   height: 10px;
   align-items: center;
}


.right{
    width: 80%;
    height:40%;
    background-color:white;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
 

 .account{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px 2px 2px 20px;
    border-radius: 20px;
}

   .card-container {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    width: 30px;
    padding: 10px;
}

.img1{
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 

.img1:hover{
   background-color: gray;
   border-radius: 50%;
}

.img2{
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 
.img2:hover{
   background-color: gray;
   border-radius: 50%;
}

.img3{
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 50%;
}

.section{
    height: 700px ;
    width:100%;
    display: flex;
    padding-top: 30px;
}

.left-section{
    height:100% ;
    width:50%;
    display: flex;
    align-items: right;
    justify-content: right;
    line-height: 30px;
}


.right-section{
    height:100% ;
    width:50%;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-left: 10%;
}

.logo{
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 350px;
    height: 40px;
    display: flex;
    background-color: blue ;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.btn1:hover{
    background-color: white;
    color: bl;
}

.btn1{
    width: 500px;
    height: 40px;
    display: flex;
    background-color: white ;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.btn1:hover{
    background-color: blue;
}


.button1{
    width: 500px;
    height: 70px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
}

.button1:hover{
    background-color: blue;
    height: 90px;
}

.button2{
    width: 500px;
    height: 70px;
    background-color: white;
    border-radius: 0px 0px 0px 0px;
}

.button2:hover{
    background-color: blue;
    height: 90px;
}


.button3{
    width: 500px;
    height: 70px;
    background-color: white;
    border-radius: 0px 0px 0px 0px;
}

.button3:hover{
    background-color: blue;
    height: 90px;
}


.button4{
    width: 500px;
    height: 70px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.button4:hover{
    background-color: blue;
    height: 90px;
}


.line{
    width: 100%;
}