body{
    margin: 0px;
 }

.navbar{
    height: 150px;
    width: 100%;
    display: flex;
}

.left{
    width: 20%;
    height: 100%;
    background-color:white;
    display: flex;
    justify-content: left;
    align-content: center;
}

.text{
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}



.text:hover{
    background-color: gray;
   border-radius: 10%;
   height: 50px;
   align-items: center;
}


.right{
    width: 80%;
    height: 100%;
    background-color:white;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
 

 .account{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px 2px 2px 20px;
    border-radius: 20px;
}

   .card-container {
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    height: 200px;
    width: 100px;
    padding: 40px;
}

.img1{
    height: 70px;
}
 
.img1:hover{
   background-color: gray;
   border-radius: 50%;
}

.img2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.section{
    height: 2000px ;
    width:100%;
    border: 1px solid red;
    display: flex;
}

.left-section{
    height:100% ;
    width:50%;
    border: 1px solid black;
}

.right-section{
    height:100% ;
    width:50%;
    border: 1px solid black;
}
